// display the advertisement

var advert = ''

advert+='<a href="https://path.com/">';
advert+='<img class="ad" alt="Path" src="http://connect.decknetwork.net/i/path2_moon.png" border="0" height="90" />';
advert+='</a>';
advert+='<p class="ads">';
advert+='<a href="https://path.com/">Path</a> - The smart journal that helps you share life with the ones you love.';
advert+='</p>';




document.write(advert);


