<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>{{TITLE}}</title>
	<meta name="viewport" content="width=600, initial-scale=0.5, minimum-scale=0.45">
	<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}fireball_screen.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}ie_sucks.css">
	<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}pygments.css">
	<link rel="stylesheet" type="text/css" media="print" href="{{STATIC_URL}}fireball_print.css">
	<link href='http://fonts.googleapis.com/css?family=Linden+Hill' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700,300,300italic' rel='stylesheet' type='text/css'>
	<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">

</head>
<body>
<div id="Box">

<div id="Banner">
<a href="{{BASE_URL}}" title="{{TITLE}}"><img src="{{STATIC_URL}}/a.png" alt="{{TITLE}}" height="56"></a>
</div>

<div id="Sidebar">
<p>By <strong>{{AUTHOR}}</strong></p>

<ul>
{{SIDELINK}}
</ul>

</div> <!-- Sidebar -->

<div id="Main">

<div class="article">

<dl>

<dt><a href="{{CURRENT_URL}}" title="{{TITLE}}">{{TITLE}}</a><br>
<em><dtm>{{TIME}}</dtm></em></dt>
<dd>
	
{{CONTENT}}

</dd>
</dl>

{{PREVIOUS}}

{{NEXT}}
<br>

{{LINKS}}

</div> <!-- article -->

<div id="Footer">
<p class="smallprint">
<a href="#" title="Recent Linked List entries and archive.">Tab 1</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" title="Customize the font size and presentation options for this web site.">Tab 2</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#" title="Customize the font size and presentation options for this web site.">Tab3</a><br>
</div>


<!--<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);
  (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->
</div> <!-- Main -->
</div> <!-- Box -->


</body></html>